@import 'tailwindcss';

@config './tailwind.config.ts';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* Integral CF Font - Used for headings/titles */
@font-face {
  font-family: "Integral CF";
  src: url("/fonts/Fontspring-DEMO-integralcf-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

p {
  margin-bottom: 10px;
}

/* DM Sans Font - Optional fallback or for specific use */
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Regular.woff2") format("woff2"),
    url("/fonts/DMSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

input[type="checkbox"].custom-golden.custom-golden:checked {
  /* repeat the class name twice */
  background-color: #da9617;
  border-color: #da9617;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4z'/%3E%3C/svg%3E");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}



/* Utility class for Integral CF if needed in Tailwind custom class */
.text-integral {
  font-family: "Integral CF", sans-serif;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
